<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="filelogger" xsi:type="File" fileName="C://Логи//file.txt" layout="${level:uppercase=true}|${message}(${date:format=dd.MM.yyyy})"/>
      <target xsi:type="Mail"
          name="maillogger"
          subject="Фатальная ошибка"
          smtpAuthentication="Basic"
          to="zrider1121@gmail.com"
          from="testinglab7compl@gmail.com"
          smtpUserName="testinglab7compl@gmail.com"
          smtpPassword="user1337"
          smtpServer="smtp.gmail.com"
          smtpPort="25"
          layout="${level:uppercase=true}|${message}(${date:format=dd.MM.yyyy})"
 />
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Error" writeTo="filelogger" />
      <logger name="*" level="Fatal" writeTo="maillogger" />
    </rules>
  </nlog>
</configuration>